.splashimg{
  position: relative;
    height: 100vh;
    background: center;
    background-image: url('./slowditdesktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
.splashfilter{
  position: absolute;
  z-index: 50;
  background-color: black;
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
}

.splashmark{
  position: absolute;
  width: 50vh;
  height: 50vh;
  z-index: 100;
  font-weight: bold;
  top: -8%;
  left: 10%;
  transform: translate(-50%);
  font-size: 20px;
}

@media (min-width:196px) and (max-width:767px) {
  .splashimg{
    position: relative;
    height: 100vh;
    background: center;
    background-image: url('./slowditmain.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .splashmark{
    position: absolute;
    z-index: 100;
    font-weight: bold;
    top: 15%;
    left: 50%;
    width: 50vh;
    height: 50vh;
    transform: translate(-50%);
    font-size: 20px;
  }
  
}


@media (min-width:573px) and (max-width:1024px) {
  .splashimg{
    position: relative;
    height: 100vh;
    background: center;
    background-image: url('./slowditmain.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .splashmark{
    position: absolute;
    z-index: 100;
    font-weight: bold;
    top: 15%;
    left: 50%;
    width: 50vh;
    height: 50vh;
    transform: translate(-50%);
    font-size: 20px;
  }
  
}