.splashimg{
  position: relative;
    height: 100vh;
    background: center;
    background-image: url('./slowditdesktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.splashmark{
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 100;
  font-weight: bold;
  top: -8%;
  left: 10%;
  transform: translate(-50%);
  font-size: 20px;
}

@media (min-width:196px) and (max-width:767px) {
  .splashimg{
    position: relative;
    height: 100vh;
    background: center;
    background-image: url('./slowditmain.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .splashmark{
    position: absolute;
    z-index: 100;
    font-weight: bold;
    top: 20%;
    left: 47%;
    width: 240px;
    height: 240px;
    transform: translate(-50%);
    font-size: 20px;
  }
  
}