.Header_main {
    position: relative;
    display:block;
    height: 10vh;
    width: 100%;
    @supports(-webkit-touch-callout:none){
        min-height: -webkit-touch-availale;
    }
}
.Header_line {
    position: absolute;
    border-bottom: 2px solid;
    width: 100%;
    bottom: 0;
    
    
}
.Headers {
    position: absolute;
    font-weight:bolder;
   
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}

.Header_log {
    
    position: absolute;
    left: 5%;
    top: 52%;
    transform: translate(0,-50%);
    
    
    
}

.Header_button {
  
    position: absolute;
    
    height: 50%;
    right: 2.8%;
    top: 55%;
    transform: translate(0,-50%);
    width: 10%;
    border: 1px;
    text-align: center;
    border-radius: 10px;
    background-color: #4B89DC;
    font-weight: bold;
    color: black;
    
    
}

.Header_button_font {
    
    text-align: center;
    
    
}
@media (min-width:196px) and (max-width:767px) {
    .Header_button {
  
        position: absolute;
        
        height: 50%;
        right: 2.8%;
        top: 55%;
        transform: translate(0,-50%);
        width: 15%;
        border: 1px;
        text-align: center;
        border-radius: 10px;
        background-color: #4B89DC;
        font-weight: bold;
        color: black;
        font-size: 10%;
        
    }
    
}
