.Maps {
    width: 100%;
    height: 90vh;
    z-index: 1;
    @supports(-webkit-touch-callout:none){
        min-height: -webkit-touch-availale;
    }
}



.buttondiv{
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 100;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    justify-content: center;
    text-align: center;
    height:8%;
    
}
.nearpointbutton{
    margin-right: 5%;
    border-radius: 30px;
    background-color:white;
    border: none;

}
.centerpoint{
    border-radius: 30px;
    background-color:rgb(0,76,32);
    border: none;
}
.buttonfont{
    margin: 1px;
    color: white;
    font-weight: inherit;
    font-size: 16px;
}
.buttonfontnear{
    color: rgb(0,76,32)  hsl(97,240,36);
    font-weight: inherit;
    font-size: 15px;
   
}

@media (min-width:196px) and (max-width:915px) {
    .buttondiv{
        position: absolute;
        display: flex;
        flex-direction: row;
        z-index: 100;
        bottom: 10%;
        left: 51%;
        transform: translate(-50%);
        width: 100%;
        justify-content: center;
        text-align: center;
        height:8%;
        
    }
    .nearpointbutton{
        margin-right: 4%;
        border-radius: 30px;
        background-color:white;
        border: none;
    
    }
    .centerpoint{
        border-radius: 30px;
        background-color:rgb(0,76,32) ;
        border: none;
    }
    .buttonfont{
        margin: 1px;
        color: white;
        font-weight: inherit;
        font-size: 15px;
        word-spacing: 3.5px;
    }
    .buttonfontnear{
        color: rgb(0,76,32);
        font-weight: inherit;
        font-size: 15px;
       
       
    }
    
    
}