.Maps {
    position:absolute;
}

.Map2_button {
    z-index:1;
    position:"absolute";
    bottom:"5%";
    left:"50%";
    transform:"translate(-50%)";
    border-radius: "200px";
    height:"8%";
    background:"white";
    border:"none"
}
.Map2_button_font {
    color:"#4B89DC";
    font-weight:"bold";
}